body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , blue); /* Standard syntax (must be last) */
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}




h1{
    margin:20px;
    padding:10px;
    text-align:center;
    font-family: 'Lexend Mega', sans-serif;
}